
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/*

font-family: 'Lexend Deca', sans-serif;

    font-family: 'Big Shoulders Display', cursive;

    


*/

:root {

    PRIMARY
    --Bright-orange: hsl(31, 77%, 52%)
    --Dark-cyan: hsl(184, 100%, 22%)
    --Very-dark-cyan: hsl(179, 100%, 13%)

    NATURAL

    --Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
    --Very-light gray (background, headings, buttons): hsl(0, 0%, 95%)

    TYPOGRAPHY

    --font size 15px
}


body {

    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */

    background-color: var(--very-light);

}

.container {
    display: flex;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

.column {
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin: auto;
    align-items: center;
    
    display: flex;

    
}

.left {
    width: 300px;
    height: 550px;
    background-color: #E28525;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.center {
    width: 300px;
    height: 550px;
    background-color: #016972;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    
    width: 300px;
    height: 550px;
    background-color: #00403F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


