
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');




:root {

    PRIMARY
    --Bright-orange: hsl(31, 77%, 52%)
    --Dark-cyan: hsl(184, 100%, 22%)
    --Very-dark-cyan: hsl(179, 100%, 13%)

    NATURAL

    --Transparent white (paragraphs): hsl(0, 0%, 100%, 0.75)
    --Very-light gray (background, headings, buttons): hsl(0, 0%, 95%)

    TYPOGRAPHY

    --font size 15px
}


body {

    

    background-color: var(--very-light);

}

.container {
    display: flex;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    
}

.column {
    
    
    font-weight: 900;
    font-size: 60px;
    margin: auto;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;

    
}

.left {
    width: 305px;
    height: 550px;
    background-color: #E28525;

    display: flex;
    flex-direction: column;
    
    

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* left header */

.header {
    margin: 40px;
}

.title {
    
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
}

.content {
    
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin: 40px;
    margin-top: 40px;
    font-size: 15px;
    line-height: 23px;
    
    color: white;
}

p {
    margin-top: -43px;
    width: 200px;
    color: hsla(1, 1%, 100%, 0.75)
}

/* left head end */

.center {
    width: 305px;
    height: 550px;
    background-color: #016972;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: flex;
    flex-direction: column;
}

.right {
    
    width: 305px;
    height: 550px;
    background-color: #00403F;
   
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
}

input[type="button"] {
    margin-left: 40px;
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 20px;
    color: #E28525; 
    
   
    
    
}


input[type="button"]:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}


.btn3 {
    margin-left: 40px;
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 20px;
    color: #00403F;
    
}

.btn3:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.btn2 {
    margin-left: 40px;
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 20px;
    color: #00403F;
    
}

.btn2:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.btn1 {
    margin-left: 40px;
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 20px;
    color: #E28525;
    
    
}

.btn1:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

/* 

media queries 

*/


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)

{
    .column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .left {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}
